<label>
    Server Name
</label>

<!--$event is a reserved variable name you can use in the template when using event binding,
     $event is basically data emitted with that event-->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->


<!--Two way binding: the ngModel will trigger the event and update the value of servername-->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->

<!--property binding-->
<button class="btn btn primary" [disabled]="!allowNewServer" (click)=onAddServer()> Add Server</button>

<!--String interpolation-->
<!-- <p>{{ allowNewServer }}</p> -->

<!-- <p> {{ serverCreationStatus }}</p> -->
<!--Directive Usage Example-->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>

<!--Ng template with the local reference marker (#noServer), we mark a certain spot in the template which we want to show conditionally-->
<ng-template #noServer>
    <p>No Server Created</p>
</ng-template>


<app-server *ngFor="let server of servers"></app-server>

<!--Assignment 2-->
<!-- <input type="text" class="form-control" [(ngModel)]='userName'>


<button class="btn btn-primary" [disabled]="userName === ''" (click)=onAddUser()> Add User</button>

<p>{{ serverCreationStatus }}</p> -->



<!--When to use String interpolation vs data binding?
    - when you're just printing something in browser, use string interpolation
    - if you want to change the property of Html element or a directive, use property binding

    DON'T MIX PROPERTY BINDING AND STRING INTERPOLATION

    Event Binding starts with (). 
    Property Binding starts with [].
    String Interpolation starts with {{}}
-->

<!--Directives - instructions in the DOM. Eg: Components (attribute with template). There are also directives without template,
    Eg: <p appTurnDirective>Receives a grren background!</p>

    There are also built in directives: ngIf -Structural Directive (to output data conditionally).
    The other type of directives are Attribute Directives (unlike structural directives, attribute directives don't add or remove
    elements. They only change the element they were placed on)

    Let's say I want to change the background of the browswer depending on the serverStatus.

    Another built in directive: ngFor




-->